<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
    <link rel="stylesheet" href="/css/message.css">
</head>
<body>
<div class="container">

    {{#User}}
    <p><a href="/logged/{{U_id}}">
        {{message}}
    </a></p>
    {{/User}}

    {{#notUser}}
    <p><a href="/login">
        {{message}}
    </a></p>
    {{/notUser}}


    <p><a href="javascript:history.go(-2)">
        Go Back
    </a></p>
    <p><a href="/">
        Go Home
    </a></p>

</div>
</body>
</html>